@charset "utf-8";

/* =========================
   Desktop First
========================= */


/* =========================
   Tablet
========================= */
@media (max-width: 768px){

}


/* =========================
   Mobile
========================= */
@media (max-width: 480px){

}

@media (max-width: 480px){

    section{
      padding:60px 15px;
    }
  
    h1{
      font-size:26px;
    }
  
    h2{
      font-size:20px;
    }
  
    p{
      font-size:13px;
    }
  
    .navbar ul{
      display:flex;
    }
  
  }

  /* =========================
   INDEX PAGE
========================= */

@media (max-width: 768px){

    .showreel-wrap{
      flex-direction:column;
      gap:40px;
    }
  
    .showreel-text{
      text-align:center;
    }
  
    .intro-text{
      width:100%;
    }
  
  }
  
  @media (max-width: 480px){
  
    .film-strip{
      display:none;
    }
  
    .glass{
      display:none;
    }
  
    .showreel video{
      width:100%;
      height:auto;
    }
  
  }

  /* =========================
   WORK PAGE
========================= */

@media (max-width: 768px){

    .works-grid{
      grid-template-columns:1fr;
      gap:30px;
    }
  
    .work-video{
      width:100%;
    }
  
  }
  
  @media (max-width: 480px){
  
    .work-info h3{
      font-size:14px;
    }
  
    .work-info p{
      font-size:12px;
    }
  
  }

  /* =========================
   ABOUT PAGE
========================= */

@media (max-width: 768px){

    .about-container{
      flex-direction:column;
      gap:40px;
    }
  
    .skills-grid{
      grid-template-columns:1fr 1fr;
    }
  
  }
  
  @media (max-width: 480px){
  
    .skills-grid{
      grid-template-columns:1fr;
    }
  
    .about-text{
      font-size:14px;
    }
  
  }

  @media (max-width:768px){

    .film-strip,
    .film-track,
    .film-frame,
    .film-frame video{
      display:none !important;
    }
  
  }

  .nav-menu{
    position:fixed;
    top:0;
    right:-100%;
    width:220px;
    height:100vh;
    background:#111;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    transition:0.4s;
    z-index:1000;
  }

  .nav-menu.active{
    right:0;
  }

